.centered-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Abstand von oben */
}

/* Optional: Zentriere den Text in den Buttons */
.btn {
  text-align: center;
}
